.bg-purple {
	background-color: #246895;
}

.cdp-img {
	width: 48px;
	height: 48px;
}

.btn {
	width: 30%;
}

.result-btn {
	visibility: hidden;
}

.progress {
	height: 25px;
	width: 0;
}

.progress-bar {
	width: 100%;
}